
@import '~font-awesome/css/font-awesome.css';

.new {
  color: rgb(107, 255, 206);
}

button{
  align-self: center;
}
.form{
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  border: 5px double #1C6EA4;
  border-radius: 40px;
}