<form [formGroup]="mapForm" (ngSubmit)="onSubmit()" *ngIf="!isValidFormSubmitted">
    
        <mat-form-field appearance="fill">
            <mat-label>First Name:</mat-label>
            <input matInput formControlName="firstName">
            <mat-error *ngIf="mapForm.get('firstName').invalid">proper name required.</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Last Name:</mat-label>
            <input matInput formControlName="lastName">
            <mat-error *ngIf="mapForm.get('lastName').invalid">proper name required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>what is your favorite food:</mat-label>
            <mat-select formControlName="food">
                <mat-option *ngFor="let food of foods" value="food">
                    {{food}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="mapForm.get('food').invalid"> *pick food</mat-error>
        </mat-form-field>
    
        <p><u>Please select your gender:</u></p>
        <mat-radio-group formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
            <mat-radio-button value="Other">Other</mat-radio-button>
        </mat-radio-group>

        <mat-selection-list formControlName="music">
            <p><u>What music do you like:</u></p>
            <mat-list-option *ngFor="let musicType of musicTypes" [value] = "musicType">
                {{musicType}}
            </mat-list-option>    
        </mat-selection-list>

  <p><u>Enter your birthday</u></p>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
    <br>
  <p *ngIf="mapForm.valid">=============</p>
    <button type="submit" [disabled]="!mapForm.valid">Submit</button>
    <p *ngIf="mapForm.valid">=============</p>
</form>
<div *ngIf="isValidFormSubmitted"> 
<app-details [user]="user" (update)="edit()"></app-details>
</div>

