 <p>exercise-two works!</p>
<div>
<label for="planets">choose your planet</label>
<select id="planets"  [(ngModel)]="currPlanet"> 
    <option *ngFor="let planet of myPlanets" [ngClass]="{
        'success' : planet.type === typesEnum.Saturn,
        'primary' : planet.type === typesEnum.Uranus,
        'danger'  : planet.type === typesEnum.Mars
    }" [ngValue]="planet">{{planet.name}}</option>
</select>
<label for="age">enter your age</label>
<input id="age" type="text" #input (keyup.enter)="fnc(input.value)">
<p *ngIf="age > 0">your age in {{currPlanet.name}} is {{age * currPlanet.value}}</p>
</div>